<h1>
  PersEs Index
  <%= link_to "NEW", new_perse_path, class: 'btn btn-sm btn-success active' %>
</h1>
<br>

<table id='proge-table' class="table table-hover">
  <thead  class="thead-light">
    <tr>
      <th>Name</th>
      <th>IC</th>
    </tr>
  </thead>
  <tbody>
    <% @perses.each do |prs| %>
      <tr>
        <td><%= prs.name %></td>
        <td><%= prs.ic %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script language="javascript" type="text/javascript">setTimeout("location.reload();",2000);</script>"


