<%= render 'tchdetails/profile' %>

<span align="center">
  Copyright <strong>www.eipepic.my</strong>&nbsp<%= wicked_pdf_image_tag('kidcare_logo/eip_logo_header.png', width: 30, height: 25) %> 
</span>