<%= form_for(@qsa, :html => {multipart: true, class: "form-horizontal", role: "form"}) do |f| %>

  <% 
    if @qsa.ques.blank?
      qs = params[:ek][:ques]
    else
      qs = @qsa.ques
    end
  %>

  <div class="form-group"> 
    <div class="row">
      <div class="control-label col-sm-8">
        <strong>Soalan Anda<a style="color: red">*</a></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12">
        <%= f.text_area :ques, class: "form-control", required: true, value: qs, style: "text-transform: uppercase"%>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-lg-8 col-sm-10 col-4">
        <%= f.submit :Hantar,  class: 'btn btn-success btn-sm btn-block' %>
      </div>
    </div>
  </div>

<% end %>

