<div class="col-lg-12 col-md-12 col-sm-10 col-12">
<div class="badge badge-pill badge-info" style="font-size: 15px; margin-top: 5px; margin-bottom: 5px; display: block">Soalan Terbaru</div>
</div>

<% if params[:admq].present? %>
  <%=  render 'qsas/form-q-adm' %>
<% else %>
  <%=  render 'qsas/form' %>
<% end %>