<div class="col-sm-8" style="background-color:#4c4cff; border-radius: 40px">
  <h5 style="color:white; font-weight: 600; text-align: center">KEMASKINI PROFIL PESERTA</h5>
</div>

<div style="font-size: 12px">
<% if @ilsc.tp == "PERSEDIAAN ALAM PEKERJAAN" %>
  <%= render 'ilscs/form_sedia', actn: "edit" %>
<% elsif @ilsc.tp == "PENCARIAN PEKERJAAN" %>
  <%= render 'ilscs/form_cari', actn: "edit" %>
<% elsif @ilsc.tp == "DET & JOB COACH" %>
  <%= render 'ilscs/form_det', actn: "edit" %>
<% elsif @ilsc.tp == "CPCU" %>
  <%= render 'ilscs/form_cpcu', actn: "edit" %>
<% end %>
</div>