<div class="col-sm-8" style="background-color:#4c4cff; border-radius: 40px">
  <h5 style="color:white; font-weight: 600; text-align: center">KEMASKINI PROFIL PESERTA</h5>
</div>

<%= render 'ilscs/form_sedia', actn: "edit" %>