<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">PROGRAM PENCARIAN PERKERJAAN</h1>
    </div>
  </div>

</header>




<!-- MESSAGE -->
<div class="section-header container bg-white" style="margin-top: 20px">
  <h3 style="">MAKLUMAN</h3>
  <div class="border-prog" style=""></div>
  <p style="text-align: center; color: black; font-weight: 600">
    Permohonan Program Pencarian Pekerjaan ANIS telah dibuka!
  </p>
  <p style="text-align: center; color: black"></p>
  <% if 1==0 %>
    <div style="background-color: #6666ff; text-align: center; color: white; margin-bottom: -20px">
      Pendaftaran Untuk Didik ANIS Telah Ditutup. Terima Kasih.
    </div>
  <% end %>
</div>

<!-- content -->
<div class="container bg-light" style="margin-top: 20px">


  <div class="row" style="margin-bottom: 20px">

    <div class="col-lg-6 col-md-12">
      <img src="<%= image_path('https://kidcare.my/anisdocs/sedia-kerja-1.jpeg')%>" style="width: 100%"></img><br><br>
      <img src="" style="width: 100%"></img><br><br>
      <img src="" style="width: 100%"></img>
    </div> <!-- COL -->

    <div class="col-lg-6 col-md-12" style="margin-top: 12px">

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1b" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Pengenalan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1b">
          <div class="card-body" style="text-align: justify">
            <p>Program Pencarian Pekerjaan (PPP) adalah satu program yang menyediakan platform penempatan pekerjaan kepada OKU yang berusia 18 hingga 35 tahun. Program Pencarian Pekerjaan ini dianjurkan bagi meningkatkan kebolehpekerjaan dan kebolehpasaran golongan OKU dalam mendapatkan pekerjaan yang lebih terjamin. Program ini dijalankan dengan kerjasama bersama pihak PERKESO. </p>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Objektif Program</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1">
          <div class="card-body" style="text-align: justify">
            <p>Objektif Utama adalah:
              <ol>
                <li>Menyediakan peluang pekerjaan kepada belia OKU.</li>
                <li>Meningkatkan peluang kepada belia OKU untuk bekerja dan berdikari dalam kehidupan.</li>
                <li>Memahami kebolehan dan kemahiran bekerja mereka supaya sokongan yang berpatutan dapat diberikan.</li>
                <li>Memudahkan belia mencari kerjaya berdasarkan keupayaan dan minat mereka.</li>

              </ol>
            </p>

          </div>
        </div>
      </div>


      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Perlaksanaan Program</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll2">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Pemohon perlu mendaftar dan mengisi borang di laman web <a href="https://www.anisselangor.com/carikerja">https://www.anisselangor.com/carikerja</a></li>
              <li>Peserta yang layak akan menerima panggilan daripada pihak Jabatan ANIS / Pihak PERKESO untuk hadir pada hari temuduga.</li>
              <li>Setiap peserta akan menjalani sesi latihan <i>(Grooming Session dan Mockup Interview)</i> bagi persediaan sebelum sesi temuduga. Setiap sesi latihan peserta akan diatur oleh pihak Jabatan ANIS.</li>
              <li>Setelah peserta berjaya di sesi temuduga, peserta boleh bekerja di bawah majikan yang terpilih.</li> 

                
            </ol>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Syarat Kelayakan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll3">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Warganegara Malaysia.</li>
              <li>Terbuka kepada belia OKU yang berumur 18 tahun hingga 35 tahun.</li>
              <li>Keutamaan kepada Belia OKU pengundi Selangor.</li>




            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5i" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5i">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Permohonan hendaklah dibuat secara atas talian di laman sesawang <a href="https://www.anisselangor.com/carikerja">https://www.anisselangor.com/carikerja</a></li>
              <li>Pihak ANIS akan menghubungi peserta untuk menghadiri ke sesi temuduga.</li>
              <li>Berikut adalah langkah permohonan untuk Program Pencarian Pekerjaan:</li>
              <ul>
                <li>Pemohon perlu log masuk di website Jabatan ANIS</li>
                <li>Pemohon perlu melengkapkan segala butiran maklumat di website</li>
                <li>Klik pautan MyFutureJobs yang disediakan</li>
                <li>Lengkapkan butiran maklumat yang diperlukan oleh MyFutureJobs</li>
                <li>Anda boleh memohon pekerjaan!</li>
              </ul>
            </ol>
          </div>
        </div>
      </div>

      <%= link_to "Klik Disini Untuk Memohon", persesch_url(prog: "PENCARIAN PEKERJAAN", regkid: 1), class: "btn btn-sm btn-success btn-block"%>
      <%= link_to "Semak Permohonan", persesch_url(prog: "PENCARIAN PEKERJAAN"), class: "btn btn-sm btn-info btn-block"%>

      

    </div> <!-- COL -->

    

  </div> <!-- ROW -->

</div>





