<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">Hubungi Kami</h1>
    </div>
  </div>

</header>

<div class="section-header container bg-white" style="margin-top: 20px">
  <h3 style="font-size: 35px">MAKLUMAT JABATAN ANIS</h3>
  <div class="border-prog" style=""></div>
</div>

<div class="container">
  <div class="row">

    <div class="col-lg-8">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.0577064368063!2d101.49135525038412!3d3.0792696544258176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc525987bcdc6b%3A0x558b502374e1d199!2sYayasan%20Warisan%20Anak%20Selangor!5e0!3m2!1sen!2smy!4v1616398142311!5m2!1sen!2smy" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

    <div class="col-lg-4">
      ksdjksdj
    </div>


  </div>
</div>