<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">Cerebral Palsy Care Unit (CPCU)</h1>
    </div>
  </div>

</header>




<!-- MESSAGE -->
<div class="section-header container bg-white" style="margin-top: 20px">
  <h3 style="">MAKLUMAN</h3>
  <div class="border-prog" style=""></div>
  <p style="text-align: center; color: black; font-weight: 600">
    Permohonan Program CPCU telah dibuka!
  </p>
  <p style="text-align: center; color: black"></p>
  <% if 1==0 %>
    <div style="background-color: #6666ff; text-align: center; color: white; margin-bottom: -20px">
      Pendaftaran Untuk Didik ANIS Telah Ditutup. Terima Kasih.
    </div>
  <% end %>
</div>

<!-- content -->
<div class="container bg-light" style="margin-top: 20px">


  <div class="row" style="margin-bottom: 20px">

    <div class="col-lg-6 col-md-12">
      <img src="<%= image_path('https://kidcare.my/anisdocs/sedia-kerja-1.jpeg')%>" style="width: 100%"></img><br><br>
      <img src="" style="width: 100%"></img><br><br>
      <img src="" style="width: 100%"></img>
    </div> <!-- COL -->

    <div class="col-lg-6 col-md-12" style="margin-top: 12px">

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1b" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Pengenalan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1b">
          <div class="card-body" style="text-align: justify">
            <p>Melalui Iltizam ANIS, Selangor mengambil langkah penting untuk menyokong dan membantu individu yang berdiagnosis Cerebral Palsy (CP) dengan memperkenalkan Program  Cerebral Palsy Care Unit (CP Care Unit). Program ini berfungsi sebagai inisiatif khusus yang bertujuan untuk menangani keperluan spesifik individu dengan kecacatan fizikal, terutamanya mereka yang hidup dengan CP dan memerlukan rawatan khusus untuk tempoh tertentu.</p>

            <p>Program CP Care Unit di Selangor menawarkan perkhidmatan penjagaan dan pemulihan yang komprehensif yang disesuaikan dengan cabaran unik yang dihadapi oleh individu dengan CP. Ia memberi tumpuan kepada peningkatan kesejahteraan mereka secara keseluruhan, meningkatkan keupayaan fizikal mereka, dan mempromosikan integrasi sosial. Berikut adalah gambaran keseluruhan tentang bagaimana Selangor, melalui ANIS, dapat membantu komuniti CP. Di bawah program CP Care Unit, terdapat 3 program utama yang akan dikendalikan bersesuaian dengan keperluan golongan CP seperti berikut:</p>

            <ol>
              <li><b>Perkhidmatan Rawatan</b></li><br>
              <p><b>Rawatan Terperinci:</b> Program CP Care Unit menyediakan pelan rawatan yang dijalankan secara bersepadu dan dibentuk khusus untuk menangani keperluan individu dengan CP. Pelan ini merangkumi pelbagai profession seperti Fisioterapi,Pemulihan Cara Kerja,  Terapi Pertuturan  bagi meningkatkan keupayaan fizikal dan kemandirian fungsi individu.</p>
              <p><b>Perkhidmatan Pemulihan:</b> ANIS menawarkan perkhidmatan pemulihan yang menyeluruh kepada individu dengan CP untuk membantu mereka meningkatkan kemahiran motor, koordinasi, dan keseluruhan fungsi fizikal. Ini termasuk senaman, aktiviti, dan terapi yang memberi tumpuan kepada peningkatan kekuatan otot, fleksibiliti, keseimbangan, dan mobiliti, membolehkan mereka menjalankan tugas harian dengan lebih berkesan.</p>

              <li><b>Program Caregiver Skills Training</b></li><br>
              <p><b>Pendidikan dan Latihan:</b> ANIS menganjurkan program pendidikan dan sesi latihan bagi individu dengan CP dan keluarga mereka. Inisiatif ini bertujuan untuk meningkatkan kesedaran tentang CP, memberikan panduan dalam mengendalikan keadaan tersebut, dan melengkapkan individu dengan kemahiran dan pengetahuan yang diperlukan untuk perkembangan dan kemandirian jangka panjang. Program ini  memfokuskan pemerkasaan ibu bapa dan penjaga golongan CP. Latihan ini dilakukan dalam kumpulan bersama barisan pakar bagi meningkatkan kemahiran penjagaan golongan CP seperti cara mandikan anak, strategi menangani tingkah laku yang mencabar, dan pengendalian alatan terapi.</p>
              <p><b>Sokongan Sosial dan Integrasi:</b> ANIS berusaha untuk mempromosikan inklusi sosial bagi individu dengan CP. Mereka menyediakan sokongan sosial yang diperlukan dan usaha untuk mengintegrasikan individu dengan CP ke dalam masyarakat dengan menyediakan program-program dan aktiviti-aktiviti yang sesuai.</p>

              <li><b>Pinjaman Peralatan </b></li><br>

              <p><b>Peranti dan Peralatan Bantu:</b> ANIS memudahkan penyediaan peranti dan peralatan bantu kepada individu dengan CP, seperti kerusi roda, peranti ortotik, dan alat komunikasi. Teknologi bantu ini bertujuan untuk meningkatkan mobiliti, keupayaan berkomunikasi, dan keseluruhan kualiti hidup mereka.</p>


            </ol>


          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Objektif Program</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1">
          <div class="card-body" style="text-align: justify">
            <p>Objektif Utama adalah:
              <ol>
                <li>Menyediakan perkhidmatan rawatan yang bersesuaian oleh barisan pakar di rumah mengikut syarat-syarat yang ditentukan.</li>
                <li>Memperkasa ibu bapa dan penjaga golongan OKU CP.</li>
                <li>Meningkatkan kemahiran penjagaan golongan OKU CP dalam kalangan ibu bapa dan penjaga.</li>
                <li>Meminjamkan alatan terapi kepada golongan OKU CP dalam tempoh masa tertentu mengikut jadual penggunaan.</li>
                <li>Memberi kesedaran kepada masyarakat.</li>


              </ol>
            </p>

          </div>
        </div>
      </div>


      

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Syarat Kelayakan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll3">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Warganegara Malaysia.</li>
              <li>Terbuka kepada anak-anak istimewa di negeri Selangor bagi kategori <i>Cerebral Palsy</i></li>
              <li>Penerima CPCU hendaklah berumur dibawah 18 tahun (mengikut tahun semasa)</li>
              <li>Ibu/ Bapa atau Penjaga mestilah salah seorangnya adalah pengundi Selangor.</li>
              <li>Anak OKU mempunyai kad OKU atau Surat Pengesahan Doktor (jika tidak mempunyai kad OKU)</li>
              <li>Permohonan mestilah diisi dengan lengkap beserta dokumen sokongan yang diperlukan.</li>
              <br>

              <i>Nota: Sekiranya penjaga merupakan ibu bapa angkat, maka proses pengangkatan mestilah sah dan berdaftar di bawah Akta Pendaftaran Pengangkatan (JPN dan Akta Pengangkatan 1973)</i>

            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Perlaksanaan Program</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll2">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Ibubapa perlu mendaftar dengan mengisi borang di laman web <a href="https://www.anisselangor.com/cpcuanis">https://www.anisselangor.com/cpcuanis</a> dan melengkapkan dokumen yang diperlukan</li>
              <li>Permohonan Program CP Care Unit ini akan dijalankan sepanjang tahun.</li>
              <li>Para peserta yang layak akan menerima panggilan daripada Pegawai dan hadir temujanji pada hari Program Saringan yang ditetapkan oleh Jabatan ANIS</li>
 

                
            </ol>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll6" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Dokumen Yang Diperlukan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll6">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Salinan Kad Pengenalan Pemohon (Ibu / Bapa)</li>
              <li>Salinan Kad Pengenalan Pasangan</li>
              <li>Salinan Sijil Kelahiran Anak</li>
              <li>Salinan Kad OKU atau Salinan Diagnosis dari doktor yang bertauliah</li>
              <li>Salinan slip Semakan Daftar Pemilih SPR didapatkan di www.pengundi.spr.gov.my untuk Ibu / Bapa
              Anda boleh memohon pekerjaan!</li>
              </ul>
            </ol>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5i" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5i">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Permohonan hendaklah dibuat secara atas talian di laman sesawang https://www.anisselangor.com/cpcuanis</li>
              <li>Pemohon hendaklah dimuatnaik dokumen di atas talian.</li>
              <li>Penghantaran dokumen yang tidak lengkap akan menyebabkan permohonan tidak akan diproses.</li>
              <li>Pihak ANIS akan menghubungi pemohon yang lengkap untuk saringan dan rawatan.</li>

            </ol>
          </div>
        </div>
      </div>

      <%= link_to "Klik Disini Untuk Memohon", persesch_url(prog: "PENCARIAN PEKERJAAN", regkid: 1), class: "btn btn-sm btn-success btn-block"%>
      <%= link_to "Semak Permohonan", persesch_url(prog: "PENCARIAN PEKERJAAN"), class: "btn btn-sm btn-info btn-block"%>

      

    </div> <!-- COL -->

    

  </div> <!-- ROW -->

</div>





