<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">PENDAFTARAN SARINGAN ANIS</h1>
    </div>
  </div>
</header>



<!-- MESSAGE -->
<div class="section-header container bg-white" style="margin-top: 20px">
  <iframe src="https://eip19-staging.herokuapp.com/schekid" style="width: 100%; height: 1000px" frameBorder="0"></iframe>
</div>
