<!-- Header -->
<header class="masthead" style="background-image: url(<%= image_path('eip-bg.jpg') %>); background-size: cover; background-position: center; padding-bottom: 300px; margin-bottom: 10px">
  <div class="intro-text" style="">
    <div class="intro-heading" style="text-align: center; color: black; background-color: #d8d8d8; opacity: 0.6; margin-top: 0px" >
      Sistem Jabatan ANIS
    </div>
  </div>

  <section id="services">
    <div class="containers">

      <div class="row">

        <div class="col-lg-3">
          <div class="box wow fadeInLeft">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
            <p class="description"></p>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="box wow fadeInRight">
            <div class="icon"><i class="fa fa-picture-o"></i></div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description"></p>
          </div>
        </div>
      </div>

    </div>
  </section>



</header>



   

    
