<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">Pengenalan ANIS</h1>
    </div>
  </div>

</header>


<div class="container bg-white" style="margin-top: 20px">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12">
      <p style="text-align: justify; color: black; font-size: 16px">
        Program – Program Bantuan Anak Istimewa Selangor dalam singkatan <b>ANIS</b> telah diperkenalkan oleh Pengerusi Jawatankuasa Tetap Kesihatan Awam, Perpaduan dan Pembangunan Wanita dan Keluarga Negeri Selangor YB Dr Siti Mariah Binti Mahmud sejak tahun 2018 lagi.
      </p>
      <div class="section-title" style="text-align: left; margin-bottom: -20px; margin-left: -15px">
        <h2>GOLONGAN SASARAN</h2>
      </div>
      <p style="text-align: justify; color: black; font-size: 16px">
       Program-program Bantuan ANIS ini diperkenalkan dengan tujuan dan harapan agar dapat memperkasakan barisan ibubapa dan penjaga, para pendidik, pengusaha institusi dan badan kebajikan anak-anak istimewa di Selangor seterusnya dapat memberdayakan anak-anak istimewa, ibubapa dan penjaga dan para pendidik untuk lebih mampan dalam mendepani dunia bercabaran ini dengan lebih cakna. 
      </p>
      <div class="section-title" style="text-align: left; margin-bottom: -20px; margin-left: -15px">
        <h2>Initiatif ANIS</h2>
      </div>
      <p style="text-align: justify; color: black; font-size: 16px">
       Bantuan ini disediakan dalam dua bentuk iaitu yang pertama manfaat kewangan seperti Bantuan Khas ANIS dan Didik ANIS. Yang Kedua ialah Program Pemberdayan ANIS, yang merangkumi Pusat Sokongan Pendidikan Awal Anak Istimewa Selangor (PUSPANIS), Program Seminar Keibubapaan Anak Istimewa Selangor (ANIS), Cikgu Anak Istimewa Selangor (ANIS) dan <i>Training of Trainers</i>. 
      </p>
      <div class="section-title" style="text-align: left; margin-bottom: -30px; margin-left: -15px">
        <h2>Objektif ANIS</h2>
      </div>
      <p>
       <ul style="text-align: justify; color: black; font-size: 16px; margin-left: -20px">
        <li>Perintis Dalam Membantu Kabajikan Anak Istimewa Selangor.</li>
        <li>Melestarikan Pembangunan Dan Kemakmuran Anak Istimewa Selangor.</li>
        <li>Menambahbaik dan Memajukan Pendidikan Anak Istimewa Selangor.</li>
        <li>Mengalakkan Kerjasama Komuniti Untuk Memberikan Sokongan Kepada ANIS, Keluarga ANIS dan Pendidik ANIS</li>
       </ul>
      </p>

      
    </div>
    <!-- <div class="col-lg-4 col-md-6 col-12">
      <img src="<%= image_path('anislogo1.png') %>" width="100%" height="100%">
    </div> -->
  </div>
</div>