<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">JOB COACH & DISABILITY EQUALITY TRAINING</h1>
    </div>
  </div>

</header>




<!-- MESSAGE -->
<div class="section-header container bg-white" style="margin-top: 20px">
  <h3 style="">MAKLUMAN</h3>
  <div class="border-prog" style=""></div>
  <p style="text-align: center; color: black; font-weight: 600">
    Permohonan Program <i>Job Coach & Disability Equality Training</i> ANIS telah dibuka!
  </p>
  <p style="text-align: center; color: black"></p>
  <% if 1==0 %>
    <div style="background-color: #6666ff; text-align: center; color: white; margin-bottom: -20px">
      Pendaftaran Untuk Didik ANIS Telah Ditutup. Terima Kasih.
    </div>
  <% end %>
</div>

<!-- content -->
<div class="container bg-light" style="margin-top: 20px">


  <div class="row" style="margin-bottom: 20px">

    <div class="col-lg-6 col-md-12">
      <img src="<%= image_path('https://kidcare.my/anisdocs/sedia-kerja-1.jpeg')%>" style="width: 100%"></img><br><br>
      <img src="" style="width: 100%"></img><br><br>
      <img src="" style="width: 100%"></img>
    </div> <!-- COL -->

    <div class="col-lg-6 col-md-12" style="margin-top: 12px">

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1a" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Maklumat Program</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1a">
          <div class="card-body" style="text-align: justify">
            <p>Latihan kepada sukarelawan dan majikan untuk membantu OKU di tempat kerja</p>
            <p><b>Program <i>Job Coach</i></b> (Terbuka kepada Sukarelawan)
              <ol>
                <li>Program yang disediakan untuk mereka yang berminat menjadi jurulatih atau pemantau kepada golongan OKU yang baru memulakan kerja di syarikat luar.</li>
                <li><b>Tujuan:</b> Job coach atau jurulatih pekerjaan ini bertanggungjawab menjaga kebajikan dan hubungan baik antara pekerja OKU dan majikan yang mengambil mereka bekerja.</li>
              </ol>
            </p>
            <p><b>Program <i>Disability Equality Training</i> (DET)</b> (Terbuka kepada Majikan)

              <ol>
                <li><b>Tujuan:</b> Memberikan pendedahan kepada majikan untuk mewujudkan suasana inklusif OKU di tempat kerja</li>
                <li>Majikan yang terlibat akan berusaha untuk mengubah dasar dan amalan syarikat, serta menaiktaraf infra bagi memberikan akses kepada OKU bekerja di tempat mereka. (keutamaan kepada anak syarikat kerajaan negeri Selangor)</li>
              </ol>
            </p>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Objektif Program</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1">
          <div class="card-body" style="text-align: justify">
            <p>Objektif Utama adalah:
              <ol>
                <i>Menyediakan kesinambungan program-program kemahiran untuk belia OKU.</i>
                <i>Meningkatkan peluang belia OKU untuk menyambung pelajaran di peringkat Sijil Kemahiran Malaysia (SKM)</i>
                <i>Memahami kebolehan dan kemahiran kerja mereka supaya sokongan yang berpatutan dapat diberikan</i>
                <i>Memudahkan peserta memilih kursus dan kerjaya berdasarkan minat mereka</i>

              </ol>
            </p>

          </div>
        </div>
      </div>

      


      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Syarat Kelayakan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll3">
          <div class="card-body" style="text-align: justify">
            <ol>

              <li>Warganegara Malaysia.</li>
              <li>Terbuka kepada anak-anak istimewa di negeri Selangor bagi kategori Kurang Upaya Pembelajaran.</li>
              <li>Ibu/Bapa atau penjaga mestilah salah seorangnya adalah pengundi Selangor (bagi yang berusia 17 tahun).</li>
              <li>Jika pemohon sendiri sudah berusia 18 tahun ke atas, pemohon mestilah merupakan pengundi Selangor.</li>
              <li>Anak OKU mempunyai kad OKU atau Surat Pengesahan Doktor (jika tidak mempunyai kad OKU)</li>
              <li>Permohonan mestilah diisi dengan lengkap beserta dokumen sokongan yang diperlukan.</li><br>

              <i>Nota: Sekiranya penjaga merupakan ibu bapa angkat, maka proses pengangkatan mestilah sah dan berdaftar di bawah Akta Pendaftaran Pengangkatan (JPN dan Akta Pengangkatan 1973)</i>



            </ol>

          </div>
        </div>
      </div>

      

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5i" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5i">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Permohonan hendaklah dibuat secara atas talian di laman sesawang <a href="https://www.anisselangor.com/jcdet">https://www.anisselangor.com/jcdet</a></li>
              <li>Pihak ANIS akan menghubungi peserta untuk menghadiri ke program.</li>
            </ol>
          </div>
        </div>
      </div>

      <%= link_to "Klik Disini Untuk Memohon", persesch_url(prog: "DET & JOB COACH", regkid: 1), class: "btn btn-sm btn-success btn-block"%>
      <%= link_to "Semak Permohonan", persesch_url(prog: "DET & JOB COACH"), class: "btn btn-sm btn-info btn-block"%>

      

    </div> <!-- COL -->

    

  </div> <!-- ROW -->

</div>





