<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h3 style="color: white; font-weight: 550">Senarai JKM Negeri</h3>
    </div>
  </div>

</header>

<div class="container">
      
  <div class="table table-responsive border" style="font-size:13px; margin-top:20px">
    <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
      <thead>
        <tr class="shadow">
          <th style="background-color:#ffb2b2; width: ">NAMA</th>
          <th style="background-color:#ffb2b2; width: 30%">ALAMAT</th>
          <th style="background-color:#ffb2b2; width: ">NO TELEFON</th>
          <th style="background-color:#ffb2b2; width: ">NO FAX</th>
          <th style="background-color:#ffb2b2; width: ">EMEL</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td><b>Jabatan Kebajikan Masyarakat Negeri Kelantan</b></td>
          <td>
            Blok 7, <br>
            Kompleks Kota Darulnaim,<br>
            15503 Kota Bharu, Kelantan.
          </td>
          <td>09-7416900</td>
          <td>09-7481264</td>
          <td>jkm@kelantan.gov.my</td>
        </tr>

        <tr>
          <td><b>Jabatan Kebajikan Masyarakat Negeri Kedah</b></td>
          <td>
            Aras Bawah, Zon C,<br> 
            Kompleks Pentadbiran Kerajaan Persekutuan,<br>
            Bandar Mu'adzam Shah,<br>
            06550 Alor Setar,<br>
            Kota Setar, Kedah
          </td>
          <td>04-7001700</td>
          <td>04-7313407</td>
          <td>jkmn_kedah@jkm.gov.my</td>
        </tr>

      </tbody>
    </table>
  </div>

</div>