<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h3 style="color: white; font-weight: 550">Senarai JKM Negeri</h3>
    </div>
  </div>

</header>

<div class="container">
      
  <div class="table table-responsive border" style="font-size:13px; margin-top:20px">
    <table class="table table-bordered table-striped shadow" id="dataTable" width="100%" cellspacing="0" style="color: black">
      <thead>
        <tr class="shadow">
          <th style="background-color:#ffb2b2; width: ">NAMA</th>
          <th style="background-color:#ffb2b2; width: 30%">ALAMAT</th>
          <th style="background-color:#ffb2b2; width: ">NO TELEFON</th>
          <th style="background-color:#ffb2b2; width: ">NO FAX</th>
          <th style="background-color:#ffb2b2; width: ">EMEL</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td><b>Jabatan Kebajikan Masyarakat Negeri Kelantan</b></td>
          <td>
            Blok 7, Kompleks Kota Darulnaim,<br>
            15503 Kota Bharu, Kelantan.
          </td>
          <td>09-7416900</td>
          <td>09-7481264</td>
          <td>jkm@kelantan.gov.my</td>
        </tr>

        <tr>
          <td><b>Jabatan Kebajikan Masyarakat Negeri Kedah</b></td>
          <td>
            Aras Bawah, Zon C, Kompleks Pentadbiran Kerajaan Persekutuan,<br> 
            Bandar Mu'adzam Shah, 06550 Alor Setar, Kota Setar, Kedah<br>
          </td>
          <td>04-7001700</td>
          <td>04-7313407</td>
          <td>jkmn_kedah@jkm.gov.my</td>
        </tr>

        <tr>
          <td><b>Jabatan Kebajikan Masyarakat Negeri Selangor</b></td>
          <td>
            Unit G6, Tingkat Bawah IDCC Shah Alam,<br> 
            Jalan Pahat L, 15/L, Seksyen 15, 40200 Shah Alam, Selangor<br>
          </td>
          <td>03-55455598</td>
          <td>03-55455229</td>
          <td>jkmn_selangor@jkm.gov.my</td>
        </tr>

        <tr>
          <td><b>Jabatan Kebajikan Masyarakat Negeri Perlis</b></td>
          <td>
            Kompleks Pejabat Kerajaan Negeri, 01000 Kangar, Perlis.

          </td>
          <td>04-9731926</td>
          <td>04-979 1401</td>
          <td>jkmn_perlis@jkm.gov.my</td>
        </tr>

        <tr>
          <td><b>Jabatan Kebajikan Masyarakat Negeri Melaka</b></td>
          <td>
            No. 36-2, Tingkat 2, Jalan KC 1, Bangunan Kota Cemerlang, 75450 , Melaka.
          </td>
          <td>06-2324670</td>
          <td>06-2319221</td>
          <td>jkmn_melaka@jkm.gov.my</td>
        </tr>

        <tr>
          <td><b>Jabatan Kebajikan Masyarakat Sarawak</b></td>
          <td>
            Wisma Kebajikan, Lot 4273, Blok 14, Off Jalan Siol Kanan, 93050 Kuching, Sarawak.
          </td>
          <td>082-449577</td>
          <td>082-448741 / 082-448455</td>
          <td>welfare@sarawak.gov.my</td>
        </tr>

        <tr>
          <td><b>Jabatan Kebajikan Masyarakat Negeri Sembilan</b></td>
          <td>
            Tingkat 1, Blok B, Wisma Negeri, Jalan Dato Abd. Malek, 70000 Seremban, Negeri Sembilan.
          </td>
          <td>06-7659555</td>
          <td>06-7629541</td>
          <td>jkmn_sembilan@jkm.gov.my</td>
        </tr>

        <tr>
          <td><b>Jabatan Perkhidmatan Kebajikan Am Negeri Sabah</b></td>
          <td>
            Tingkat 6 & 8, Blok B, Bangunan Wisma MUIS, Jalan Sembulan,88100 Kota Kinabalu, Sabah.
          </td>
          <td>088-255133/ 088-255134 / 088-244228</td>
          <td>088-224983 / 088-318304</td>
          <td>jpka_sabah@jkm.gov.my</td>
        </tr>





Jabatan Kebajikan Masyarakat Negeri Pahang
Jalan Tanah Putih
25100 Kuantan, Pahang.
Tel : 09-5650222
Faks : 09-5165185
Emel : jkmn_pahang@jkm.gov.my
Jabatan Kebajikan Masyarakat Negeri Pulau Pinang

Jabatan Kebajikan Masyarakat Negeri Pulau Pinang
Aras 35, Menara KOMTAR,
10564 Timur Laut, Pulau Pinang.
Tel : 046505259
Faks : 042635964
Emel : jkmnpp@jkm.gov.my

Jabatan Kebajikan Masyarakat Negeri Perak
Lot 1516, Jalan Panglima Bukit Gantang Wahab,
Ipoh
30000 Kinta, Perak.
Tel : 05-2545505
Faks : 05-2546505
Emel : -


Jabatan Kebajikan Masyarakat Negeri Johor
Tingkat 4,
Blok A, Bangunan Wisma Persekutuan,
Jalan Air Molek,
80000 Johor Bahru, Johor.
Tel : 07- 228 2971 / 07- 228 2972
Faks : 07- 224 0336
Emel : jkmn_johor@jkm.gov.my


Jabatan Kebajikan Masyarakat Negeri Terengganu
Tingkat 1,
Wisma Negeri,
Jalan Pejabat
20564 Kuala Terengganu, Terengganu.
Tel : 09-6222444 / 09-6274256/51
Faks : 09-6239864
Emel : jkmn_terengganu@jkm.gov.my






Jabatan Kebajikan Masyarakat Wilayah Persekutuan Kuala Lumpur
Tingkat 9, Grand Seasons Avenue
No. 72, Jalan Pahang
Kuala Lumpur
50564 , Kuala Lumpur.
Tel : 03-40441188/03-26124000
Faks : 03-40428185
Emel : jkmn_kl@jkm.gov.my


Jabatan Kebajikan Masyarakat Wilayah Persekutuan Labuan
Peti Surat 81212
Jalan Tun Mustapha
87022 Wilayah Persekutuan Labuan, Labuan.
Tel : 087-424961
Faks : 087-418185
Emel : jkmn_labuan@jkm.gov.my


      </tbody>
    </table>
  </div>

</div>