<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h4 style="color: white; font-weight: 550">Carta Organisasi</h4>
    </div>
  </div>

</header>

<div class="col-12" style="display: flex; justify-content: center; margin-top: -0px;">
  <img src="<%= image_path('org-chart-22-1.jpeg')%>" style="height: 100% ; width: %"></img>
</div>
<div class="col-12" style="display: flex; justify-content: center; margin-top: -100px;">
  <img src="<%= image_path('org-chart-22-2.jpeg')%>" style="height: 100% ; width: %"></img>
</div>


<div class="container bg-white" style="margin-top: 20px; text-align: center">
  <div class="row">
    <div class="col-lg-12 col-12">
      <!-- <img src="<%= image_path('anisPic/orgchart.jpeg') %>" width="100%" height="100%"> -->
    </div>

    <div class="col-lg-12 col-12">
      <div class="section-title" style="margin-top: 10px">
        <h2>Hubungi Kami Di</h2> 
        <p style="font-size: 18px; color: black">
          <b>Pusat Sokongan Pendidikan Awal Anak Istimewa <br>(PUSAT ANIS)</b>
        </p>
        <p style="font-size: 15px; color: black">
          East Entrance G26-28  Bangunan IDCC,<br>
          Jalan Pahat L  15/ L, Seksyen 15,<br>
          40200 Shah Alam, SELANGOR<br>
          <a href="">03-55453170</a><br>
          <a href="">jabatananis@yawas.my</a>
        </p>
      </div>
    </div>
  </div>
</div>
