<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">Profail Yang Berhormat</h1>
    </div>
  </div>

</header>

<div class="container bg-light" style="margin-top: 20px; text-align: center">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12">
      <p style="text-align: justify; color: black; font-size: 18px">
        <b>YB PUAN ANFAAL BINTI SAARI </b> telah dilantik sebagai Ahli Majlis Mesyuarat Kerajaan Negeri (AMMKN) selaku Ahli Dewan Negeri Selangor kawasan Taman Templer N15 yang berkuatkuasa 21 Ogos 2023. Beliau dilantik sebagai EXCO Pembangunan Wanita & Kebajikan Masyarakat dan memegang portfolio Pemberdayaan Wanita dan Keluarga, Kebajikan Masyarakat dan Ekonomi Penjagaan (Care Economy). 
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
      <img src="<%= image_path('anisPic/profil-yb-1.png') %>" width="90%" height="90%">
    </div>
  </div>
</div>