<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">Profail Yang Berhormat</h1>
    </div>
  </div>

</header>

<div class="container bg-light" style="margin-top: 20px; text-align: center">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-12">
      <p style="text-align: justify; color: black; font-size: 18px">
        <b>YB PUAN DR SITI MARIAH BINTI MAHMUD</b> telah Dilantik Sebagai Ahli Majlis Mesyuarat Kerajaan Negeri (Ammkn) Selaku Ahli Dewan Negeri Selangor Kawasan Seri Serdang, N.29 Yang Berkuatkuasa 26 Jun 2018. Beliau Diamanahkan Menjadi  Pengerusi Jawatankuasa Tetap kesihatan Awam, Perpaduan dan Pembangunan Wanita & Keluarga Negeri Selangor Memegang Portfolio Kesihatan Rakyat, Hal Ehwal Kebajikan Negeri Dan Pemberdayaan Wanita Dan Keluarga Dalam Mencapai Wanita 30% Dalam Pembuat Keputusan Dan Keluarga Sejahtera. Dilantik Menjadi Pengerusi Jawatankuasa Pembangunan Warga Emas (JPWEN). Jabatan Yang Bernaung Dibawahnya Adalah Jabatan Pembangunan Wanita Negeri Selangor (JPWN Selangor), Lembaga Penduduk Dan Pembangunan Keluarga Negeri Selangor (LPPKN Selangor), Jabatan Kebajikan Masyarakat Negeri Selangor (JKMNS), Dan Jabatan Kesihatan Negeri Selangor (JKNS). 
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
      <img src="<%= image_path('anisPic/profil-yb.png') %>" width="100%" height="100%">
    </div>
  </div>
</div>