<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">PROGRAM SARINGAN ANIS</h1>
    </div>
  </div>

</header>



<!-- MESSAGE -->
<div class="section-header container bg-white" style="margin-top: 20px">
  <h3 style="">MAKLUMAN</h3>
  <div class="border-prog" style=""></div>
  <p style="text-align: center; color: black; font-weight: 600">Permohonan Program Saringan ANIS telah dibuka</p>
  <p style="text-align: center; color: black"><!-- Daftar Dan Hantar Dokumen Sokongan Selewatnya pada 30 April 2021 --></p>
  <% if 1==0 %>
    <div style="background-color: #6666ff; text-align: center; color: white; margin-bottom: -20px">
      Pendaftaran Untuk Didik ANIS Telah Ditutup. Terima Kasih.
    </div>
  <% end %>
</div>

<!-- content -->
<div class="container bg-light" style="margin-top: 20px">


  <div class="row" style="margin-bottom: 20px">

    <div class="col-lg-6 col-md-12" style="margin-top: 12px">

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Objektif Program Saringan dan Diagnosis Awal ANIS</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1">
          <div class="card-body" style="text-align: justify">
            <p>Objektif Utama adalah:
              <ol>
                <li>Membantu ibu bapa mendapatkan langkah pertama dalam mengurus Anak Istimewa dengan mendapatkan Laporan Lengkap Saringan</li>
                <li>Membantu Ibu Bapa melibatkan diri bersama rangkaian kumpulan sokongan Anak Istimewa.</li>
                <li>Membantu Ibu Bapa Anak Istimewa mendapatkan sokongan moral selapas mendapat tahu keadaan anak melalui Laporan Saringan.</li>
              </ol>
            </p>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Perlaksanaan Program</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll2">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Ibubapa perlu mendaftar dan mengisi borang di laman web anisselangor.com dan memberikan dokumen yang diperlukan. </li>
              <li>Para peserta yang layak akan menerima panggilan dan hadir pada hari yang ditetapkan oleh YAWAS.</li>
              <li>Peserta akan menjalani ujian penilaian dari Juruterapi Cara Kerja, Juruterapi Pertuturan, Fisioterapi dan juga doktor pakar.</li>
              <li>Peserta akan mendapat Laporan Lengkap Saringan (Diagnosis) oleh doktor bertauliah untuk dirujuk kepada Institusi Kesihatan atau Pendidikan. </li>
              <li>Program berjalan sepanjang tahun secara berkala setiap bulan. </li>
            </ol>
          </div>
        </div>
      </div>

      <!-- pending anis -->
      <% if 1==0 %>
      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Syarat Kelayakan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll3">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Warganegara Malaysia</li>
              <li>Ibu bapa/ penjaga yang mempunyai anak berumur 3 tahun dan ke bawah</li>
              <li>Ibu atau bapa salah seorang ialah pengundi di Negeri Selangor</li>
              <li>Ibu/bapa/penjaga lahir di Negeri Selangor dan sedang menetap di Selangor; <b>ATAU</b></li>
              <li>Ibu/bapa/penjaga bukan kelahiran Selangor dan sedang menetap di Selangor minimum 10 tahun (perlu mendapatkan cop pengesahan mastautin daripada pengesah yang dibenarkan); <b>DAN</b></li>
              <li>Terbuka kepada semua Anak Istimewa di Negeri Selangor yang mematuhi syarat di atas</li>
              <li>Tidak pernah menjalani proses saringan di mana-mana institusi kesihatan.</li>
              <li>Terbuka kepada golongan yang berpendapatan isi rumah sebanyak RM 5,000 dan ke bawah.</li>
              <li>Sekiranya penjaga merupakan ibubapa angkat maka pengangkatan hendaklah sah dan berdaftar di bawah Akta Pendaftaran Pengangkatan (JPN) dan Akta Pengangkatan 1973</li>
              <li>Melengkapkan permohonan dan melampirkan dokumen sokongan</li>
            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll4" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Maklumat Penting Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll4">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Bagi ibubapa/penjaga yang bukan kelahiran Negeri Selangor perlu mendapatkan Cop Pengesahan Taraf Mastautin daripada Pegawai Pengesah di kawasan tempat tinggal pemohon.</li>
              <li>
                Senarai Jawatan Pegawai Pengesah yang dibenarkan adalah seperti berikut:
                <ol type="i">
                  <li>Ahli Parlimen / Senator</li>
                  <li>ADUN / Pengerusi JK Penyelaras DUN</li>
                  <li>Penghulu / Ketua Kampung</li>
                  <li>Ahli Majlis Pihak Berkuasa Tempatan</li>
                  <li>Pengerusi Taman Perumahan / Ketua Blok</li>
                  <li>Masjid / Pengerusi Surau / Ketua Tokong / Ketua Kuil / Ketua Gereja / Ketua Komuniti</li>
                </ol>
              </li>
              <li>Sekiranya ibubapa/penjaga mempunyai anak OKU lebih daripada seorang, maka permohonan hendaklah dibuat secara berasingan</li>
            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Dokumen Yang Diperlukan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Salinan Kad Pengenalan pemohon.</li>
              <li>Salinan Kad Pengenalan pasangan.</li>
              <li>Salinan Sijil Daftar / Kad Nikah Ibu Bapa</li>
              <li>Salinan Surat Perakuan Anak Angkat (jika berkenaan).</li>
              <li>Salinan Kad Pengenalan Anak</li>
              <li>Cop Pengesahan Mastautin yang disahkan pada borang permohonan (Rujuk pada Senarai Jawatan Pegawai Pengesah yang dibenarkan sahaja)</li>
              <li>Salinan slip gaji ibu DAN bapa</li>
              <li>Salinan slip Semakan Daftar Pemilih SPR didapatkan di <a href="https://pengundi.spr.gov.my">www.pengundi.spr.gov.my</a></li>

            </ol>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5i" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5i">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Permohonan hendaklah dibuat secara atas talian di laman sesawang <a href="https://www.anisselangor.com/saringananis">www.anisselangor.com/saringananis</a></li>
              <li>Borang permohonan hendaklah dicetak dan dihantar bersama dengan dokumen yang lengkap dalam tempoh 14 hari bekerja dari tarikh permohonan.</li>
              <li>Penghantaran dokumen yang tidak lengkap akan menyebabkan permohonan tidak akan diproses.</li>
              <li>Borang permohonan dan dokumen boleh dihantar melalui salah satu kaedah seperti berikut:
                <ol type="a">
                  <li>Penghantaran melalui emel di jabatananis@yawas.my ; <b>ATAU</b></li>
                  <li>Hantar ke pejabat Yayasan Warisan Anak Selangor (YAWAS) di alamat:</li>
                </ol>
                <p align="center" style="margin-top: 10px">
                  <b>Pusat Sokongan Pendidikan Awal ANIS</b><br>
                  Yayasan Warisan Anak Selangor<br>
                  Lot G26-G28 Tingkat G, Bangunan IDCC,<br>
                  Jalan Pahat L 15/L, Seksyen 15, 40200 Shah Alam<br>
                  Hotline : 03-55453170 (Pusat ANIS)<br> / 03 – 54818800 (YAWAS – HQ)
              </p>
              </li>
            </ol>
            <p style="text-align: center">
              <b>Modus Operandi Permohonan Saringan ANIS</b>
              <img src="<%= image_path('anisPic/flow-saringan-anis.png')%>" style="width: 100%"></img>
            </p>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll6" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Soalan Lazim</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll6">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>
                <p><b>Soalan: </b>Saya mempunyai 2 orang anak OKU, bolehkah saya memohon untuk kedua-dua anak saya</p>
                <p><b>Jawapan: </b>Boleh. Permohonan hendaklah dibuat secara berasingan</p>
              </li>
              <li>
                <p><b>Soalan: </b>Anak saya berumur 4 tahun, adakah boleh memohon?</p>
                <p><b>Jawapan: </b>Tidak boleh. Anak mestilah berumur 3 tahun dan ke bawah. </p>
              </li>
              <li>
                <p><b>Soalan: </b>Dimanakah saya boleh memohon bantuan ini?</p>
                <p><b>Jawapan: </b>Permohonan hanya boleh dibuat secara atas talian sahaja di <a href="https://www.anisselangor.com/saringananis">www.anisselangor.com/saringananis</a> . Adalah diingatkan selepas permohonan dibuat, borang permohonan hendaklah dicetak dan dihantar bersama dokumen yang diperlukan dalam tempoh 14 hari bekerja dari tarikh permohonan. Dokumen yang tidak lengkap akan menyebabkan permohonan bantuan tidak akan diproses.</p>
              </li>
              <li>
                <p><b>Soalan: </b>Rumah saya jauh daripada Shah Alam. Dimanakah pejabat terdekat boleh saya hantar borang permohonan dan dokumen yang diperlukan?</p>
                <p><b>Jawapan: </b>Permohonan boleh diemelkan ke jabatananis@yawas.my </p>
              </li>
              <li>
                <p><b>Soalan: </b>Saya dan isteri bukan kelahiran Selangor dan telah menetap di Selangor tidak sampai 10 tahun, bolehkah saya memohon bantuan ini untuk anak OKU saya?</p>
                <p><b>Jawapan: </b>Tidak boleh. Minimum tempoh pemastautin adalah selama 10 tahun. </p>
              </li>
              <li>
                <p><b>Soalan: </b>Saya dan isteri lahir di Selangor tetapi menetap di Perak, bolehkah saya memohon bantuan untuk anak OKU saya?</p>
                <p><b>Jawapan: </b>Tidak boleh. Pemohon hendaklah sedang menetap di Selangor sahaja.</p>
              </li>
              <li>
                <p><b>Soalan: </b>Saya lahir di Perak, isteri lahir di Selangor, anak saya OKU dan kami sedang menetap di Selangor. Layakkah kami memohon bantuan ini untuk anak saya?</p>
                <p><b>Jawapan: </b>Layak.</p>
              </li>
              <li>
                <p><b>Soalan: </b>Saya dan isteri bukan kelahiran Selangor, anak OKU berumur 3 tahun, dan kami sedang menetap di Selangor sudah lebih 10 tahun. Bolehkah saya memohon?</p>
                <p><b>Jawapan: </b>Boleh, namun tuan/puan perlu mendapatkan cop pengesahan mastautin di ruangan pada borang permohonan. Sila rujuk pada Senarai Jawatan Pegawai Pengesah yang dibenarkan.</p>
              </li>
              <li>
                <p><b>Soalan: </b>Saya dan isteri bukan pengundi di Negeri Selangor, adakah boleh memohon?</p>
                <p><b>Jawapan: </b>Tidak boleh. Salah seorang dari ibubapa mestilah pengundi di Negeri Selangor.</p>
              </li>
              <li>
                <p><b>Soalan: </b>Adakah permohonan saya akan diproses sekiranya dokumen yang saya lampirkan tidak lengkap</p>
                <p><b>Jawapan: </b>Tidak. Kerana semua pemohonan tanpa melampirkan dokumen yang mencukupi akan ditolak.</p>
              </li>

              
            </ol>
          </div>
        </div>
      </div>
      <% end %>

      <%= link_to "Semak / Hantar Permohonan", daftarsaringan_path, class: "btn btn-sm btn-success btn-block", target: ""%>
      <% link_to "Permohonan Belum Dibuka", "#", class: "btn btn-sm btn-danger btn-block"%>

      

    </div> <!-- COL -->

    <div class="col-lg-6 col-md-12">
      <img src="<%= image_path('anislogo1.png')%>" style="width: 100%"></img>
    </div> <!-- COL -->

  </div> <!-- ROW -->

</div>





