<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">PROGRAM SARINGAN ANIS</h1>
    </div>
  </div>

</header>



<!-- MESSAGE -->
<div class="section-header container bg-white" style="margin-top: 20px">
  <h3 style="">MAKLUMAN</h3>
  <div class="border-prog" style=""></div>
  <p style="text-align: center; color: black; font-weight: 600">Permohonan Program Saringan ANIS telah dibuka</p>
  <p style="text-align: center; color: black"><!-- Daftar Dan Hantar Dokumen Sokongan Selewatnya pada 30 April 2021 --></p>
  <% if 1==0 %>
    <div style="background-color: #6666ff; text-align: center; color: white; margin-bottom: -20px">
      Pendaftaran Untuk Didik ANIS Telah Ditutup. Terima Kasih.
    </div>
  <% end %>
</div>

<!-- content -->
<div class="container bg-light" style="margin-top: 20px">


  <div class="row" style="margin-bottom: 20px">

    <div class="col-lg-6 col-md-12" style="margin-top: 12px">

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Objektif Program Saringan Awal ANIS</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1">
          <div class="card-body" style="text-align: justify">
            <p>Objektif Utama adalah:
              <ol>
                <li>Membantu ibubapa dalam mengenal pasti tahap perkembangan anak </li>
                <li>Membantu ibubapa dalam menyediakan / merancang intervensi awal kepada anak yang kelainan upaya</li>
                <li>Membantu ibubapa dalam mengurangkan kos perbelanjaan proses saringan awal</li>
                <li>Membantu memudahkan Jabatan Kebajikan Masyarakat (JKM) untuk mengeluarkan kad Orang Kurang Upaya (OKU) kepada kanak-kanak yang terlibat</li>
              </ol>
            </p>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Perlaksanaan Program</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll2">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Ibubapa perlu mendaftar dengan mengisi borang di laman web <b>https://www.anisselangor.com/saringan</b> dan melengkapkan dokumen yang diperlukan</li>
              <li>Permohonan Program Saringan ini akan dijalankan sepanjang tahun.</li>
              <li>Para peserta yang layak akan menerima panggilan daripada urusetia dan hadir temujanji pada hari Program Saringan yang ditetapkan oleh Pusat ANIS</li>

            </ol>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Syarat Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll3">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Warganegara Malaysia</li>
              <li>Terbuka kepada kanak-kanak berumur 2-6 tahun yang mempunyai masalah kelewatan perkembangan <i>(development delay)</i></li>
              <li>Pendaftaran dibuka kepada golongan B40 dan M40.</li>
              <li>Melengkapkan permohonan dan menyediakan dokumen sokongan yang diperlukan.</li>
              <li>Ibu / Bapa / Penjaga merupakan salah seorang pengundi Selangor.</li>


            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll4" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Maklumat Penting Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll4">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Bagi ibubapa/penjaga yang bukan kelahiran Negeri Selangor perlu mendapatkan Cop Pengesahan Taraf Mastautin daripada Pegawai Pengesah di kawasan tempat tinggal pemohon</li>

              <li>Senarai Jawatan Pegawai Pengesah yang dibenarkan adalah seperti berikut:
                <ol type="i">
                  <li>Ahli Parlimen / Senator</li>
                  <li>ADUN / Pengerusi JK Penyelaras DUN</li>
                  <li>Penghulu / Ketua Kampung</li>
                  <li>Ahli Majlis Pihak Berkuasa Tempatan</li>
                  <li>Pengerusi Taman Perumahan / Ketua Blok</li>
                  <li>Masjid / Pengerusi Surau / Ketua Tokong / Ketua Kuil / Ketua Gereja / Ketua Komuniti</li>
                </ol>
              </li>
              <li>Sekiranya ibubapa/penjaga mempunyai anak lebih daripada seorang, maka permohonan hendaklah dibuat secara berasingan</li>

            </ol>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Dokumen Yang Diperlukan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5">
          <div class="card-body"  style="text-align: justify">
            <ol>

              <li>Salinan Kad Pengenalan Pemohon (Ibu / Bapa)</li>
              <li>Salinan Sijil Kelahiran Anak</li>
              <li>Salinan Sijil Daftar / Kad Nikah Ibu Bapa</li>
              <li>Salinan slip Semakan Daftar Pemilih SPR didapatkan di <a href="https://pengundi.spr.gov.my">www.pengundi.spr.gov.my</a> untuk Ibu / Bapa.</li>

            </ol>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5i" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5i">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Permohonan hendaklah dibuat secara atas talian di laman sesawang <a href="https://www.anisselangor.com/saringan">www.anisselangor.com/intervensianis</a></li>
              <li>Borang permohonan hendaklah dicetak dan dihantar bersama dengan dokumen yang lengkap dalam tempoh 14 hari bekerja dari tarikh permohonan.</li>
              <li>Penghantaran dokumen yang tidak lengkap akan menyebabkan permohonan tidak akan diproses.</li>
              <li>Borang permohonan dan dokumen boleh dihantar melalui salah satu kaedah seperti berikut:
                <ol type="a">
                  <li>Hantar ke pejabat Yayasan Warisan Anak Selangor (YAWAS) di alamat:</li>
                </ol>
                <p align="center" style="margin-top: 10px">
                  <b>Pusat Sokongan Pendidikan Awal ANIS</b><br>
                  Yayasan Warisan Anak Selangor<br>
                  Lot G26-G28 Tingkat G, Bangunan IDCC,<br>
                  Jalan Pahat L 15/L, Seksyen 15, 40200 Shah Alam<br>
                  Hotline : 03-55453170 (Pusat ANIS)<br> / 03 – 54818800 (YAWAS – HQ)
              </p>
              </li>
            </ol>
            <p style="text-align: center">
              <b>Modus Operandi Permohonan Saringan Awal ANIS</b>
              <img src="<%= image_path('https://kidcare.my/anisdocs/saringan-flow.jpeg')%>" style="width: 100%"></img>
            </p>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll6" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Soalan Lazim</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll6">
          <div class="card-body"  style="text-align: justify">
            <ol>
              
              <li>
                <b>Soalan:</b> Saya mempunyai 2 orang anak, bolehkah saya memohon untuk kedua-dua anak saya? <br>
                <b>Jawapan:</b> Boleh. Permohonan hendaklah dibuat secara berasingan. 
              </li>
              <li>
                <b>Soalan:</b> Anak saya berumur 7 tahun, adakah boleh memohon?<br>
                <b>Jawapan:</b> Tidak boleh. Anak mestilah berumur 2 hingga 6 tahun. 
              </li>
              <li>
                <b>Soalan:</b> Dimanakah saya boleh memohon bantuan ini?<br>

                <b>Jawapan:</b> Permohonan hanya boleh dibuat secara atas talian sahaja di www.anisselangor.com/saringan . Adalah diingatkan selepas permohonan dibuat, borang permohonan hendaklah dicetak dan dihantar bersama dokumen yang diperlukan dalam tempoh 14 hari bekerja dari tarikh permohonan. Dokumen yang tidak lengkap akan menyebabkan permohonan bantuan tidak akan diproses.
              </li>
              <li>
                <b>Soalan:</b> Saya dan isteri bukan kelahiran Selangor dan telah menetap di Selangor tidak sampai 10 tahun, bolehkah saya memohon saringan awal ANIS? <br>

                <b>Jawapan:</b> Tidak boleh. Minimum tempoh pemastautin adalah selama 10 tahun. 
              </li>

              <li>
                <b>Soalan:</b> Saya dan isteri lahir di Selangor tetapi menetap di Perak, bolehkah saya memohon bantuan untuk anak OKU saya?<br>

                <b>Jawapan:</b> Layak. Salah seorang pemohon mestilah pengundi di Selangor.
              </li>

              <li>
                <b>Soalan:</b> Saya lahir di Perak, isteri lahir di Selangor dan saya mempunyai anak autisme dan sedang menetap di Selangor. Layakkah kami memohon saringan awal ANIS ini?<br>

                <b>Jawapan:</b> Layak.
              </li>

              <li>
                <b>Soalan:</b> Saya dan isteri bukan kelahiran Selangor, anak saya berumur 3 tahun, dan kami sedang menetap di Selangor sudah lebih 10 tahun. Bolehkah saya memohon?<br>

                <b>Jawapan:</b> Boleh, tetapi pemohon perlu mendapatkan cop pengesahan mastautin di ruangan pada borang permohonan. Sila rujuk pada Senarai Jawatan Pegawai Pengesah yang dibenarkan.
              </li>

              <li>
                <b>Soalan:</b> Saya dan isteri bukan pengundi di Negeri Selangor, adakah boleh memohon?<br>

                <b>Jawapan:</b> Tidak boleh. Salah seorang dari ibubapa mestilah pengundi di Negeri Selangor.
              </li>

              <li>
                <b>Soalan:</b> Adakah permohonan saya akan diproses sekiranya dokumen yang saya lampirkan tidak lengkap<br>

                <b>Jawapan:</b> Tidak. Kerana semua pemohonan tanpa melampirkan dokumen yang mencukupi akan ditolak.
              </li>
              
            </ol>
          </div>
        </div>
      </div>

      <%= link_to "Semak / Hantar Permohonan", daftarsaringan_path, class: "btn btn-sm btn-success btn-block", target: ""%>
      <% link_to "Permohonan Belum Dibuka", "#", class: "btn btn-sm btn-danger btn-block"%>

      

    </div> <!-- COL -->

    <div class="col-lg-6 col-md-12">
      <img src="<%= image_path('https://kidcare.my/anisdocs/saringan-2022.jpeg')%>" style="width: 100%"></img>
    </div> <!-- COL -->

  </div> <!-- ROW -->

</div>





