<header class="prog-hd" style="background-image: url(<%= image_path('anisPic/bg-prog.jpeg') %>); background-size: cover; background-position: center; padding-bottom: 0px; margin-bottom: 0px; background-repeat: no-repeat; padding-top: 30px; padding-bottom: 30px">

  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: left" >
      <h1 style="color: white; font-weight: 550">PROGRAM PERSEDIAAN ALAM PERKERJAAN</h1>
    </div>
  </div>

</header>




<!-- MESSAGE -->
<div class="section-header container bg-white" style="margin-top: 20px">
  <h3 style="">MAKLUMAN</h3>
  <div class="border-prog" style=""></div>
  <p style="text-align: center; color: black; font-weight: 600">
    Permohonan Program Persediaan Alam Pekerjaan ANIS telah dibuka!
  </p>
  <p style="text-align: center; color: black"></p>
  <% if 1==0 %>
    <div style="background-color: #6666ff; text-align: center; color: white; margin-bottom: -20px">
      Pendaftaran Untuk Didik ANIS Telah Ditutup. Terima Kasih.
    </div>
  <% end %>
</div>

<!-- content -->
<div class="container bg-light" style="margin-top: 20px">


  <div class="row" style="margin-bottom: 20px">

    <div class="col-lg-6 col-md-12">
      <img src="<%= image_path('https://kidcare.my/anisdocs/sedia-kerja.jpeg')%>" style="width: 100%"></img><br><br>
      <img src="" style="width: 100%"></img><br><br>
      <img src="" style="width: 100%"></img>
    </div> <!-- COL -->

    <div class="col-lg-6 col-md-12" style="margin-top: 12px">

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Objektif Program</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll1">
          <div class="card-body" style="text-align: justify">
            <p>Objektif Utama adalah:
              <ol>
                <li>Peserta MBPK akan memupuk literasi kerjaya secara praktikal serta membina aspirasi bekerja</li>
                <li>Ibubapa peserta MBPK akan lebih memahami kebolehan dan kemahiran bekerja anak-anak mereka supaya sokongan yang berpatutan akan diberi</li>
                <li>Memudahkan peserta memilh kursus dan kerjaya mengikut minat mereka</li>
              </ol>
            </p>

          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Perlaksanaan Program</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll2">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Ibubapa perlu mendaftar dan mengisi borang di laman web <a href="https://www.anisselangor.com/sediakerja">https://www.anisselangor.com/sediakerja</a> dan melengkapkan dokumen yang diperlukan</li>
              <li>Permohonan Program Persediaan kearah Kerjaya ini akan diadakan dan dilaksanakan 4 kali setahun mengikut ketetapan Tarikh yang ditetapkan oleh Jabatan ANIS</li>
              <li>Para Peserta yang layak akan menerima panggilan daripada pihak Jabtana ANIS dan hadir pada hari program.</li>
                
            </ol>
          </div>
        </div>
      </div>

      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Syarat Kelayakan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll3">
          <div class="card-body" style="text-align: justify">
            <ol>
              <li>Warganegara Malaysia; DAN</li>
              <li>Terbuka kepada semua Anak – Anak Istimewa di Negeri Selangor bagi Kategori Kurang Upaya Pembelajaran.</li>
              <li>Ibu/ Bapa/ Penjaga salah seorang mesti PENGUNDI SELANGOR.</li>
              <li>Ibu/ Bapa/Penjaga yang mempunyai anak OKU berumur 17 tahun hingga 22 tahun sahaja.</li>
              <li>Ibu/Bapa/ Penjaga lahir di luar Negeri Selangor dan sedang menetap di Selangor minimum 10 tahun (perlu mendapatkan Cop Pengesahan Mastautin daripada pengesah yang dibenarkan.</li>
              <li>Anak (OKU) mempuyai Kad OKU yang dikeluarkan oleh JKM; ATAU</li>
              <li>Surat Pengesahan Doktor (Jika tiada Kad OKU);</li>
              <li>Melengkapkan Permohonan dan melampirkan dokumen sokongan.</li>


            </ol>
            <b>*Nota: Sekiranya penjaga merupakan ibubapa angkat maka pengangkatan hendaklah sah dan berdaftar di bawah Akta Pendaftaran Pengangkatan (JPN dan Akta Pengangkatan 1973) </b>

          </div>
        </div>
      </div>


      <div class="card shadow" style="margin-bottom: 10px">
        <!-- Card Header - Accordion -->
        <a href="#coll5i" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
          <h6 class="m-0 font-weight-bold text-title">Cara Permohonan</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse" id="coll5i">
          <div class="card-body"  style="text-align: justify">
            <ol>
              <li>Permohonan hendaklah dibuat secara atas talian di laman sesawang <a href="https://www.anisselangor.com/sediakerja">https://www.anisselangor.com/sediakerja</a></li>
              <li>Pihak ANIS akan menghubungi peserta untuk menghadiri ke program.</li>
            </ol>
          </div>
        </div>
      </div>

      <%= link_to "Klik Disini Untuk Memohon", persesch_url(prog: "PERSEDIAAN ALAM PEKERJAAN", regkid: 1), class: "btn btn-sm btn-success btn-block"%>
      <% link_to "Semak Permohonan", persesch_url(prog: "PERSEDIAAN ALAM PEKERJAAN"), class: "btn btn-sm btn-info btn-block"%>

      <% link_to "Permohonan Baru", persesch_url(prog: "INTERVENSI ANIS", regkid: 1), class: "btn btn-sm btn-success btn-block"%>
      <% link_to "Semak Permohonan", persesch_url(prog: "INTERVENSI ANIS"), class: "btn btn-sm btn-info btn-block"%>
      <% link_to "Permohonan Belum Dibuka", "#", class: "btn btn-sm btn-danger btn-block"%>

      

    </div> <!-- COL -->

    

  </div> <!-- ROW -->

</div>





