

  



<!-- Header -->
<header class="masthead" style="background-image: url(<%= image_path('eip-bg.jpg') %>); background-size: cover; background-position: center; padding-bottom: 100px; margin-bottom: 0px; background-repeat: no-repeat;">
  <div class="intro-text container" style="">
    <div class="intro-heading" style="text-align: center; color: black; background-color: #d8d8d8; opacity: 0.6; margin-top: 0px" >
      Akan Datang!<br>
      <p style="font-size: 15px;line-height: normal;font-weight: 600; margin-top: 10px"><i>Pasukan Kami masih dalam proses membina pautan ini. Daftar di link dibawah untuk mendapatkan makluman terkini. Terima kasih</i></p>
    </div>
    
  </div>

  <div style="text-align: center; font-size: 25px">
    <%= link_to "Daftar Sekarang", persesch_path, class: "badge badge-pill badge-dark"%>
  </div>

</header>