
<%= link_to "#{newfbproge_url(proge: @proge.id)}", newfbproge_path(proge: @proge.id) %>


<%= render 'cntps/schd', adm: 1%>


<div style="background-color: blue;margin-bottom: -5px">
  <h6 style="text-align: center; color: white">Program Baru Untuk <%= @proge.name %></h6>
</div>
<%= render 'cntps/form', act: "crtcntp" %>