<div style="background-color: blue;margin-bottom: -5px">
  <h6 style="text-align: center; color: white">Kemaskini Program Untuk <%= @proge.name %></h6>
</div>
<%= render 'cntps/form', act: "updcntp" %>