<meta name="viewport" content="width=768">

<div style="background-color: red;margin-bottom: -5px">
  <h4 style="text-align: center; color: white"><%= @proge.name %></h4>
</div>

<div class="bg-white" style="margin-bottom: 15px; text-align: center" >
  <i><%= @proge.date.strftime('%d-%^b-%Y') %></i>
</div>