<p style="font-size:20px">THERAPIST INCHARGE:</p>
<b><%= tcd.name.upcase %></b><br>
CERT NO: <b><%= tcd.category %></b><br>
PHONE: <b><%= "#{tcd.phone_1}-#{tcd.phone_2}" %></b><br>
EMAIL: <b><%= @skid.owner.email %></b><br>
