<footer id="fts" class="bg-light" style="margin-bottom: 10px">
  <div class="container">
    <div class="copyright text-center my-auto" style="background-color:">
      <span style="font-size: 12px">
        Copyright © <strong>Jabatan ANIS</strong> <img src="<%= image_path('anislogo2.jpg') %>" width="54" height="25" /> <%= Date.today.year %>
      </span>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript 
        <script src="/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript 
        <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Contact form JavaScript 
        <script src="/assets/js/gh/jqBootstrapValidation.js"></script>
        <script src="/assets/js/gh/contact_me.js"></script>

        <!-- Custom scripts for this template 
        <script src="/assets/js/gh/agency.min.js"></script> -->