<!DOCTYPE html>
<html lang="en">

  <%= render 'layouts/page_head' %>
  
      <% if @index.present? %>
        <div class="bg-white">
          
      <% else %>
        <div class="container bg-white" style="margin-top: 10px">
        <%= render partial: "shared/flash_messages", flash: flash %>
      <% end %>
        
        <%= yield %>
      </div>


        <%= render 'layouts/page_foot' %>

        
  
</body>
      
  </html>